In [2]:
#DATATYPE 

#Numeric :- int,flaot,complex

a=10;
b=10.5;
c=10+20j;
print(a,type(a))
print(b,type(b))
print(c,type(c))

10 <class 'int'>
10.5 <class 'float'>
(10+20j) <class 'complex'>

In [1]:
#String  - single line   ".'
#Ordered sequence of character
#Immutable and Index

s="welcome to cybrom"
print(s)
print(type(s))
print(s[0])
s[0]="h"
print(s)

welcome to cybrom
<class 'str'>
w

TypeError: 'str' object does not support item assignment

In [1]:
#String :- Miltiline   "'

s= '''   welcome 
to
bhopal'''
print(s)
print(type(s))

   welcome
to
bhopal
<class 'str'>

In [5]:
#List  -   []
# Collection of elements denoted by [] with comma seperated value
# Ordered sequence
# Mutable
# Index
# Hetrogenous nature

l=[10,20,10.6,"h","hello"]
print(l,type(l))
print(l[0])
l[0]=[10,20,30]
print(l)
print(l[0][1])

[10, 20, 10.6, 'h', 'hello'] <class 'list'>
10
[[10, 20, 30], 20, 10.6, 'h', 'hello']
20

In [1]:
#Tuple   -  ()
# Coleection of elements denoted by [] with comma seperated value
# Ordered sequence
# Immutable
# Indexed
# Hetrogenous nature


l=[10,20,10.6,"h","hello"]
print(l,type(l))
print(l[0])
l[0]=[10,20,30]
print(l)
print(l[0][1])
l[0]="cybrom"
print(l)

[10, 20, 10.6, 'h', 'hello'] <class 'list'>
10
[[10, 20, 30], 20, 10.6, 'h', 'hello']
20
['cybrom', 20, 10.6, 'h', 'hello']

In [11]:
#Dictionary   -  {}
# Colection of elements denoted by {k:v}
# Ordered sequence
# Mutable
# UnIndex
# Keys-unique and Value-duplicate

d={"name":"abc" ,"city":"bhopal"}
print(d,type(d))
print(d["name"])
d["name"]="cybrom"
print(d)

{'name': 'abc', 'city': 'bhopal'} <class 'dict'>
abc
{'name': 'cybrom', 'city': 'bhopal'}

In [9]:
d={"name":"abc","city":"bhopal"}
d["Name"]="cybrom"
print(d)

{'name': 'abc', 'city': 'bhopal', 'Name': 'cybrom'}

In [20]:
d={"name":["abc","xyz","mnq"],"city":["bhopal","bhopal","indore"]}
print(d,type(d))
print(d["city"])
print(d["city"][1])
d["city"][1]="gwalior"
print(d)

{'name': ['abc', 'xyz', 'mnq'], 'city': ['bhopal', 'bhopal', 'indore']} <class 'dict'>
['bhopal', 'bhopal', 'indore']
bhopal
{'name': ['abc', 'xyz', 'mnq'], 'city': ['bhopal', 'gwalior', 'indore']}

In [22]:
d={"name":["abc","xyz","mnq"],"city":["bhopal",["jabalpur","goa","patna"],"indore"]}
d["city"][1][2]="gwalior"
print(d)

{'name': ['abc', 'xyz', 'mnq'], 'city': ['bhopal', ['jabalpur', 'goa', 'gwalior'], 'indore']}

In [24]:
d={"name":["abc","xyz","mnq"],"city":["bhopal",["jabalpur","goa","patna"],"indore"]}
print(d["city"][1][2])
print(d)

patna
{'name': ['abc', 'xyz', 'mnq'], 'city': ['bhopal', ['jabalpur', 'goa', 'patna'], 'indore']}

In [2]:
#Set:     {}
#colection of unique element denoted by {} braces with comma seperated value
#unordered and unindexed
#hetrogenous nature and mutable


s={10,10.5,"hello","cybrom",10,10,10,101,10}
print(s,type(s))
s.add(1000)
print(s)

{10.5, 'hello', 101, 10, 'cybrom'} <class 'set'>
{10.5, 'hello', 101, 1000, 10, 'cybrom'}

In [3]:
s=set()                  #set constructor
print(s,type(s))

set() <class 'set'>

In [4]:
l=[10,20,30,10,20,20]
print(set(l))

{10, 20, 30}

In [5]:
l=[10,20,30,10,20,20]
print(tuple(l))

(10, 20, 30, 10, 20, 20)

In [6]:
#input=takes input at runtime
a=input("enter 1st num :")
b=input("enter 2nd num :")
c=a+b
print(c)

enter 1st num : 10
enter 2nd num : 20

1020

In [7]:
a=int(input("enter 1st num :"))
b=int(input("enter 2nd num :"))
c=a+b
print(c)

enter 1st num : 10
enter 2nd num : 20

30

In [8]:
a=float(input("enter 1st num :"))
b=float(input("enter 2nd num :"))
c=a+b
print(c)

enter 1st num : 10
enter 2nd num : 20

30.0

In [9]:
a="10"
print(a,type(a))
a=int(a)
print(a,type(a))

10 <class 'str'>
10 <class 'int'>

In [11]:
a=int(input("enter 1st num :"))
b=int(input("enter 2nd num :"))
c=int(input("enter 3rd num :"))
d=int(input("enter 4th num :"))
e=a+b+c+d
f=(a+b+c)-d
g=(a+b)*(c+d)
h=a/b

print(e,f,g,h)

enter 1st num : 10
enter 2nd num : 10
enter 3rd num : 10
enter 4th num : 5

35 25 300 1.0